<footer>
	<div class="container">
    	<div class="col-sm-6 col-md-6 copyright">
        	&copy; Copyright 2014 - Mopublish MPLite Theme by Team Techunits
        </div>
        
        <div class="col-sm-6 col-md-6">
        	<div class="menu-footer-column-1-container">
        		<ul id="menu-footer-column-1" class="footerMenu">
        			<li id="menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16">
        				<a href="http://staging.techunits.com/ladderegg/about-us">About Us</a>
        			</li>
					<li id="menu-item-14" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14">
						<a href="http://staging.techunits.com/ladderegg/privacy-policy">Privacy Policy</a>
					</li>
					<li id="menu-item-15" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15">
						<a href="http://staging.techunits.com/ladderegg/terms-of-service">Terms of Service</a>
					</li>
					<li id="menu-item-13" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13">
						<a href="http://staging.techunits.com/ladderegg/contact-us">Contact Us</a>
					</li>
				</ul>
			</div>
		</div>
        <div class="clearfix"></div>
	</div>
</footer>