<section class="container	content-wrap">
	<h1 class="section-heading"><%=	locals.info.title	%></h1>
	<article class="posts">
		<div class="desc">
			<%=	locals.info.description	%>
		</div>
	</article>
</section>
