@charset "utf-8";
/* CSS Document for MOZ website */

body { font-family: Roboto;	}
ul, ol, li {
	padding: 0px; 
	margin: 0px;
	list-style-type: none;
}

.wrapper {
	min-height: 650px;	
}
.section-heading {
	font-family: Oswald;
	font-size: 150%;
	font-weight: normal;
	margin-bottom: 25px;
	color: #75B822;
}


/*	color schemes	*/
.color-green	{
	color: #75B822	!important;
}

a:hover { color:#75B822	!important; text-decoration: none;	}
.btn-info{
	background: rgb(173,217,234); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FkZDllYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUyJSIgc3RvcC1jb2xvcj0iIzYxYzRlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NGJiZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(173,217,234,1) 0%, rgba(97,196,232,1) 52%, rgba(68,187,234,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(173,217,234,1)), color-stop(52%,rgba(97,196,232,1)), color-stop(100%,rgba(68,187,234,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(173,217,234,1) 0%,rgba(97,196,232,1) 52%,rgba(68,187,234,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(173,217,234,1) 0%,rgba(97,196,232,1) 52%,rgba(68,187,234,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(173,217,234,1) 0%,rgba(97,196,232,1) 52%,rgba(68,187,234,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(173,217,234,1) 0%,rgba(97,196,232,1) 52%,rgba(68,187,234,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#add9ea', endColorstr='#44bbea',GradientType=0 ); /* IE6-8 */
}
.btn-info:hover{
	background: rgb(147,188,214); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkzYmNkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUyJSIgc3RvcC1jb2xvcj0iIzUwYTFiNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzODhmYjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(147,188,214,1) 0%, rgba(80,161,183,1) 52%, rgba(56,143,178,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(147,188,214,1)), color-stop(52%,rgba(80,161,183,1)), color-stop(100%,rgba(56,143,178,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(147,188,214,1) 0%,rgba(80,161,183,1) 52%,rgba(56,143,178,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(147,188,214,1) 0%,rgba(80,161,183,1) 52%,rgba(56,143,178,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(147,188,214,1) 0%,rgba(80,161,183,1) 52%,rgba(56,143,178,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(147,188,214,1) 0%,rgba(80,161,183,1) 52%,rgba(56,143,178,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93bcd6', endColorstr='#388fb2',GradientType=0 ); /* IE6-8 */
}

/*header section*/
.top-sec{background:#388FB2; position: ; height:30px; width:100%}
.top-nav{ list-style: none;  margin: 0; padding: 0;}
.top-nav li{ float: left; color: #fff; border-bottom: 2px solid #388FB2;
transition-property: border-color; 
transition-duration: 1s, 2s, 5s; 
transition-timing-function:  ease, ease-out, linear;
}
.top-nav li:hover{border-bottom: 2px solid #F7B911;}
.top-nav li a{ color: #fff; text-decoration: none; padding:0 10px; line-height:28px; font-size: 12px; }


.navbar-default{ background:#4DBDEB; border:0; border-radius: 0px; margin: 0;}
.navbar-default .navbar-brand { color: #fff; font-size: 32px; line-height:40px; min-height: 75px;}
.navbar-default .navbar-nav > li > a{
    color:#fff; 
    text-transform: uppercase; 
    font-weight: bold; 
    border-bottom: 3px solid #4DBDEB; 
    line-height:45px; 
    transition-property: border-bottom; 
    transition-duration: 1s, 2s, 5s; 
    transition-timing-function:  ease, ease-out, linear;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    border-bottom:3px solid #fff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    border-bottom:3px solid #fff;
    background: none;
}

.search-box{background: #fff; border:5px solid #388FB2; border-radius: 10px; padding: 20px; position:absolute; right: 0; width: 400px; z-index: 99;}
.up-arrow{color:#388FB2; transform: rotate(30deg); font-size: 24px; position: absolute;  right: 20px;  top: -20px;}
.navbar-right .glyphicon-search{ font-size: 24px;}


/*banner section*/
.banner-sec{background:#4DBDEB; border-bottom: 1px dashed #E3F1F7;}
.banner-sec .slide-item{position: relative; min-height: 300px; padding: 30px 0; }
.banner-sec .slide-item h2{color: #fff;}
.banner-sec .slide-item img{ right: 0;}



/*main section*/
main{ min-height: 650px;}
section{margin-bottom: 20px; padding: 20px;}
/* ----------------------------------------------Homepage-------------------------------------*/
.thumb-sec .img-thumbnail{ border: 1px solid #4DBDEB;}
.thumb-sec p{margin-bottom: 20px; padding: 10px}
.thumb-sec .trial-box{ margin: 20px 0;}
.thumb-sec .trial-box .btn-lg{ font-weight: bold; font-size: 28px;}
.moz-local{ background:#E3F1F7; padding: 20px; border-bottom: 1px dashed #4DBDEB; border-top: 1px dashed #4DBDEB}

/*main section*/


.more-features	li	{
	font-size: 110%;
}
.more-features	li	i	{
	font-size: 130%;
	padding-right: 5px;
	vertical-align: sub;
}

/*footer section*/
footer {
    margin: 0 auto;
    background: none repeat scroll 0 0 #fff;
    padding: 20px 0;
    border-top: #ccc 1px solid ;
}

.copyright{ color: #333}

footer ul {
    display: inline-block;
    float: right;
    margin: 0;
    padding: 0;
    text-align: right;
}
footer li {
    display: inline;
    padding: 0 10px 0 0;
}
footer li a{ color: #333;}
