<section class="container">
	<section class="installer">
		<div class="form-group	logo">
			<img src="/mp-manager/images/logo.png" alt="" class="" height="45" />
		</div>
		
		<div class="form-group">
			<h1 class="section-heading">Welcome to Mopublish Installer</h1>
			<p>
				Streaming step is invoked once the message structure is built and ready to be streamed to the transport. Plugin function still gets mail.data but it is included just for the reference, modifying it should not change anything (unless the transport requires something from the mail.data, for example mail.data.envelope).
			</p>
		</div>
		
		<form class="form-group	installer-form" method="post" action="/mp-manager/installer">
			<h1 class="section-heading">Fill-in following Information</h1>
			<p>Please provide the following basic details to setup your website. You can change this settings later from backend.</p>
			<div class="form-group	field-item">
				<label class="col-md-4">Site Title</label>
				<div class="col-md-8">
					<input type="text" name="sitename" placeholder="Your Website Title" class="form-control" />
				</div>
				<div class="clearfix"></div>
			</div>
			
			<div class="form-group	field-item">
				<label class="col-md-4">Admin Email</label>
				<div class="col-md-8">
					<input type="email" name="email" placeholder="e.g admin@example.com" class="form-control" />
				</div>
				<div class="clearfix"></div>
			</div>
			
			<div class="form-group	field-item">
				<label class="col-md-4">Password</label>
				<div class="col-md-8">
					<input type="password" name="password" placeholder="Minimum 8 characters..." class="form-control" />
				</div>
				<div class="clearfix"></div>
			</div>
			
			<div class="form-group	field-item">
				<label class="col-md-4">Retype Password</label>
				<div class="col-md-8">
					<input type="password" name="repassword" placeholder="Minimum 8 characters..." class="form-control" />
				</div>
				<div class="clearfix"></div>
			</div>
			
			<div class="form-group">
				<input type="submit" name="submit" value="Install Now" class="btn" />
			</div>
		</form>
	</section>
</section>