<section class="support-section">
	<h1 class="section-heading"><%=	locals.type	%> Support</h1>
	<%	if('basic' == locals.type)	{	%>
		<div class="">
			Welcome to Mopublish Basic Support. 
		</div>
	<%	}	else	{	%>
		<div class="">
			Welcome to Mopublish Enterprise Support. 
		</div>
	<%	}	%>
	
	<!-- ClickDesk Live Chat Service for websites -->
	<script type='text/javascript'>
	var _glc =_glc || []; _glc.push('all_ag9zfmNsaWNrZGVza2NoYXRyDwsSBXVzZXJzGNmkwsMCDA');
	var glcpath = (('https:' == document.location.protocol) ?
	'https://my.clickdesk.com/clickdesk-ui/browser/' : 'http://my.clickdesk.com/clickdesk-ui/browser/');
	var glcp = (('https:' == document.location.protocol) ? 'https://' : 'http://');
	var glcspt = document.createElement('script'); glcspt.type = 'text/javascript'; 
	glcspt.async = true; glcspt.src = glcpath + 'livechat-new.js';
	var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(glcspt, s);
	</script>
	<!-- End of ClickDesk -->
</section>
