    <section class="banner-sec">
        <div class="container"> 
            <div class="slide-item">
                <div class="col-sm-8 col-md-8 text-center">
                    <h2>Mopublish - A NodeJS & MongoDB CMS</h2>
                    <h2>Super Fast, Easy &amp; Efficient !!!</h2>
                </div>
                <div class="col-sm-4 col-md-4 text-center">
                    <img src="/assets/mpofficial/images/graph.png" alt="">
                </div>
            </div>
        </div>
    </section>
    
<main>
	<section class="thumb-sec">  
		<div class="container">
			<div class=" col-sm-4 col-md-4	 text-center">
				<img class="img-circle img-thumbnail" src="/assets/mpofficial/images/circle-icon-1.gif" alt="Generic placeholder image" />
				<h2 class="section-heading">Express.js &amp; MongoDB</h2>
				<p>Mopublish is powered by MEAN stack, i.e. MongoDB, Expressjs, Angularjs &amp; Nodejs. So it's equipped with power of asynchronoous processing support built into heart of it.</p>
			</div>
			
			<div class=" col-sm-4 col-md-4 text-center">
				<img class="img-circle img-thumbnail" src="/assets/mpofficial/images/circle-icon-2.gif" alt="Generic placeholder image" />
				<h2 class="section-heading">Dynamic Routing</h2>
				<p>Mopublish Dynamic Routing engine provides extremely flexible SEO friendly url processing via expressjs explicit routing enngine, which allows to have better SEO performance as well.</p>
			</div>
			<div class=" col-sm-4 col-md-4 text-center">
				<img class="img-circle img-thumbnail" src="/assets/mpofficial/images/circle-icon-3.gif" alt="Generic placeholder image" />
				<h2 class="section-heading">Themes & Plugins Supported</h2>
				<p>Mopublish is the one of the first to enable built-in support for plugins and themes via action hooks, which provide high extensibility to incorporate future enhancements via contributors without modifying the core.</p>
			</div>
			<div class="clearfix"></div>
			
			<h3  class="section-heading">More Features</h3>
			<ul class="more-features	row">
				<li class="col-md-4	form-group">
					<i class="glyphicon glyphicon-ok	color-green"></i>
					<a href="#" title="Fully Responsive Admin UI using Bootstrap">
						Fully Responsive Admin UI using Bootstrap
					</a>
				</li>
				<li class="col-md-4	form-group">
					<i class="glyphicon glyphicon-ok	color-green"></i>
					<a href="#" title="User friendly Dashboard using AngularJS">
						User friendly Dashboard using AngularJS
					</a>
				</li>
				<li class="col-md-4	form-group">
					<i class="glyphicon glyphicon-ok	color-green"></i>
					<a href="#" title="User friendly Dashboard using AngularJS">
						Actions & Filters Support
					</a>
				</li>
				<li class="col-md-4	form-group">
					<i class="glyphicon glyphicon-ok	color-green"></i>
					<a href="#" title="Secure Session Management">
						Secure Session Management
					</a>
				</li>
				<li class="col-md-4	form-group">
					<i class="glyphicon glyphicon-ok	color-green"></i>
					<a href="#" title="Built-in HTTP & HTTPS Support">
						Built-in HTTP & HTTPS Support
					</a>
				</li>
				<li class="col-md-4	form-group">
					<i class="glyphicon glyphicon-ok	color-green"></i>
					<a href="#" title="Secured REST API Support">
						Secured REST API Support
					</a>
				</li>
				<li class="col-md-4	form-group"><i class="glyphicon glyphicon-ok	color-green"></i> Secured REST API Support</li>
				<li class="col-md-4	form-group"><i class="glyphicon glyphicon-ok	color-green"></i> Email Support (Local SMTP & 3rd Party SMTP)</li>
				<li class="col-md-4	form-group"><i class="glyphicon glyphicon-ok	color-green"></i> MongoDB Based Storage</li>
				<li class="col-md-4	form-group"><i class="glyphicon glyphicon-ok	color-green"></i> Built-in Contact Form Support</li>
				<li class="col-md-4	form-group"><i class="glyphicon glyphicon-ok	color-green"></i> Built-in custom Taxonomy &amp; Content types</li>
				<li class="col-md-4	form-group"><i class="glyphicon glyphicon-ok	color-green"></i> Built-in Localization Support</li>
				<li class="clearfix"></li>
			</ul>
			
            <div class="trial-box">
            	<a href="https://github.com/techunits/mopublish" title="Download latest version Mopublish from Github" class="btn btn-info btn-lg">
            		!!!	Coming Soon !!!
            	</a>
            </div>
        </div>
    </section>
 </main>
      