<footer>
	<div class="container">
       	<div class="col-sm-6 col-md-6 copyright">
           	&copy; Copyiright 2014 - By Team Techunits
           </div>
           
           <div class="col-sm-6 col-md-6">
           	<nav>
               	<ul>
                   	<li><a href="/">Home</a></li>
                       <li><a href="/about-us">About Us</a></li>
                       <li><a href="/privacy-policy">Privacy Policy</a></li>
                       <li><a href="/terms-of-service">Terms of Service</a></li>
                       <li><a href="https://github.com/techunits/mopublish">Download</a></li>
                       <li><a href="/contact-us">Contact Us</a></li>
                   </ul>
			</nav>
		</div>
		<div class="clearfix"></div>
	</div>
</footer>