<section class="content-list">
	<h1 class="section-heading">Content Types</h1>
	<ul class="entry	form-group">
		<li class="heading">
			<div class="col-md-3">Content Type</div>
			<div class="col-md-3">Slug</div>
			<div class="col-md-3">Description</div>
			<div class="col-md-3">Hierarchical</div>
			<div class="clearfix"></div>
		</li>
		<li>
			<div class="col-md-3">Page</div>
			<div class="col-md-3">page</div>
			<div class="col-md-3">Content type page with hierarchy support.</div>
			<div class="col-md-3">Yes</div>
			<div class="clearfix"></div>
		</li>
		<li>
			<div class="col-md-3">Blog</div>
			<div class="col-md-3">blog</div>
			<div class="col-md-3">Content type blog with no hierarchy support.</div>
			<div class="col-md-3">No</div>
			<div class="clearfix"></div>
		</li>
	</ul>
</section>

<h2 class="section-heading">Add New Content Type</h2>
<form class="form-group	row" method="post" action="/mp-manager/settings/content-types" name="contentTypeSettings" ng-controller="ContentTypeSettings">
	<div class="form-group">
		<label class="col-md-3">Title / Content Type</label>
		<div class="col-md-6">
			<input type="text" name="sitename" value="" class="form-control" required />
		</div>
		<div class="clearfix"></div>
	</div>
	
	<div class="form-group">
		<label class="col-md-3">Slug</label>
		<div class="col-md-6">
			<input type="text" name="tagline" value="" class="form-control" required />
		</div>
		<div class="clearfix"></div>
	</div>
	
	<div class="form-group">
		<label class="col-md-3">Brief Description</label>
		<div class="col-md-6">
			<textarea type="text" name="sitename" value=""  class="form-control" rows="5" ></textarea>
		</div>
		<div class="clearfix"></div>
	</div>
	
	<div class="form-group">
		<label class="col-md-3">Is hierarchical?</label>
		<div class="col-md-6">
			<select name="hierarchical" class="form-control">
				<option name="1">No</option>
				<option name="1">Yes</option>
			</select>
		</div>
		<div class="clearfix"></div>
	</div>
	
	<div class="form-group	col-md-12">
		<input type="submit" name="tagline" value="Save" class="btn-info" />
	</div>
</form>