<section class="support-section">
	<h1 class="section-heading"><%=	locals.type	%> Support</h1>
	<%	if('basic' == locals.type)	{	%>
		<div class="">
			Welcome to Mopublish Basic Support. 
		</div>
	<%	}	else	{	%>
		<div class="">
			Welcome to Mopublish Enterprise Support. 
		</div>
	<%	}	%>
</section>
