@charset "utf-8";
/* CSS Document */
ul,ol,li {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

body{background: #fff;font-family: Roboto;}
a:hover {
	text-decoration: none;
}
.colorGreen	{
	color: green;
}

.section-heading	{
	font-family: Oswald;
	font-weight: 300;
	font-size: 200%;
	margin: 0px 0px 20px;	
}
.meta	{
	font-size: 85%;
	color: grey;
	margin-bottom: 20px;
}
.wrapper	{
	padding-top: 75px;
	min-height: 900px;
}
.content-wrap	{
	padding-top: 25px;
}

.btn-search{ background: #00A9E0; color:#fff;}

/*header section*/
.navbar-default{ background:#00A9E0; border-bottom:0}
.navbar-default .navbar-brand { color: #fff; font-size: 32px; line-height:40px; min-height: 75px; text-transform: uppercase; }
.navbar-default .navbar-nav > li > a{color:#fff; line-height:45px;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color:#45D4FF;
    color: #333;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #45D4FF;
    color: #555;
}

/*	banner section	*/
.carousel-caption {
	left: -19%;
	top: 20%;
	font-size: 190%;
	font-family: Oswald;
	text-align: center;
	font-weight: 300;
}

/*	posts section	*/
.posts	{
	padding: 15px 0px;
}
.posts	.entry	{
	border: 1px solid #DADADA;
	padding: 3px;
	border-radius: 4px;
}
.posts	.entry	.section-heading	{
	font-size: 120%;
	margin-bottom: 10px;
}
.posts	.entry	.image-base	{
	margin-bottom: 10px;
	border-radius: 4px;
}
.posts	.entry	.image-base	img	{
	border-radius: 4px;
	height: 130px;
}
.posts	.entry	.info-base	{
	padding: 0px 5px;
}

.bg-blue-bottom {
	background: #00A9E0;
	padding: 20px 0 0px;
	color: #FFF;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}
.bg-blue-bottom	form	{
	margin-bottom: 0;
}

/*footer section*/
footer {
    margin: 0 auto;
    background: none repeat scroll 0 0 #333;
    padding: 20px 0;
    margin-top: 15px;
}

.copyright{ color: #fff}

footer ul {
    display: inline-block;
    float: right;
    margin: 0;
    padding: 0;
    text-align: right;
}
footer li {
    display: inline;
    padding: 0 10px 0 0;
}
footer li a{ color: #fff;}